.featured-jobs {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
  position: relative;
}

.featured-jobs .text-wrapper-9 {
  color: #000000;
  font-family: var(--title-64-font-family);
  font-size: var(--title-64-font-size);
  font-style: var(--title-64-font-style);
  font-weight: var(--title-64-font-weight);
  letter-spacing: var(--title-64-letter-spacing);
  line-height: var(--title-64-line-height);
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.featured-jobs .frame-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 31px 31px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.featured-jobs .job-card-instance {
  background-image: url(https://c.animaapp.com/MlmHrukd/img/rectangle-4-9.svg) !important;
}
