.navbar-wrapper {
  height: 160px;
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #f0f8ff;
  border-radius: 0px 0px 15px 15px;
  
}

.navbar-wrapper .img {
  height: 145px;
  object-fit: cover;
  position: absolute;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.navbar-wrapper .nav-buttons {
  height: 24px;
  margin-left: auto; /* Aligns buttons to the right */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navbar-wrapper button {
  background: none;
  border: none;
  padding: 30px;
  transition: all 0.2s ease;
  white-space: nowrap;
  color: #000000;
  font-family: var(--nav-20-font-family);
  font-size: var(--nav-20-font-size);
  font-style: var(--nav-20-font-style);
  font-weight: var(--nav-20-font-weight);
  letter-spacing: var(--nav-20-letter-spacing);
  line-height: var(--nav-20-line-height);
  position: relative;
  top: 0;
  transition: all 0.5ms ease-in-out;
}

.navbar-wrapper button:hover {
  cursor: pointer;
  transform: scale(0.9);
}
