.navbar-wrapper {
  height: 145px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.navbar-wrapper .img {
  height: 145px;
  object-fit: cover;
  position: absolute;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.navbar-wrapper .nav-buttons {
  height: 24px;
  position: relative;
  margin-left: 44vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navbar-wrapper button{
  background: none;
  border: none;
  padding: 30px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.navbar-wrapper .text-wrapper-7 {
  color: #000000;
  font-family: var(--nav-20-font-family);
  font-size: var(--nav-20-font-size);
  font-style: var(--nav-20-font-style);
  font-weight: var(--nav-20-font-weight);
  letter-spacing: var(--nav-20-letter-spacing);
  line-height: var(--nav-20-line-height);
  position: relative;
  top: 0;
}

.navbar-wrapper .job-categories {
  color: #000000;
  font-family: var(--nav-20-font-family);
  font-size: var(--nav-20-font-size);
  font-style: var(--nav-20-font-style);
  font-weight: var(--nav-20-font-weight);
  letter-spacing: var(--nav-20-letter-spacing);
  line-height: var(--nav-20-line-height);
  position: relative;
  top: 0;
}

.navbar-wrapper .text-wrapper-6 {
  color: #000000;
  font-family: var(--nav-20-font-family);
  font-size: var(--nav-20-font-size);
  font-style: var(--nav-20-font-style);
  font-weight: var(--nav-20-font-weight);
  letter-spacing: var(--nav-20-letter-spacing);
  line-height: var(--nav-20-line-height);
  position: relative;
  top: 0;
}

.navbar-wrapper .text-wrapper-5 {
  color: #000000;
  font-family: var(--nav-20-font-family);
  font-size: var(--nav-20-font-size);
  font-style: var(--nav-20-font-style);
  font-weight: var(--nav-20-font-weight);
  letter-spacing: var(--nav-20-letter-spacing);
  line-height: var(--nav-20-line-height);
  position: relative;
  top: 0;
}

.navbar-wrapper .text-wrapper-4 {
  color: #000000;
  font-family: var(--nav-20-font-family);
  font-size: var(--nav-20-font-size);
  font-style: var(--nav-20-font-style);
  font-weight: var(--nav-20-font-weight);
  letter-spacing: var(--nav-20-letter-spacing);
  line-height: var(--nav-20-line-height);
  position: relative;
  padding: 10px;
}

.navbar-wrapper .text-wrapper-3 {
  color: #000000;
  font-family: var(--nav-20-font-family);
  font-size: var(--nav-20-font-size);
  font-style: var(--nav-20-font-style);
  font-weight: var(--nav-20-font-weight);
  letter-spacing: var(--nav-20-letter-spacing);
  line-height: var(--nav-20-line-height);
  position: relative;
  white-space: nowrap;
  top: 0;
}



