.homepage {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 10px 1px 5px;
  position: relative;
}

.homepage .instance-node {
  align-self: stretch !important;
  width: 100% !important;
}

.homepage .job-search-instance {
  align-self: stretch !important;
  background-image: url(https://c.animaapp.com/MlmHrukd/img/image-4.png) !important;
  width: 100% !important;
}

.homepage .job-search-2 {
  left: 35px !important;
  width: 282px !important;
}

.homepage .job-search-3 {
  margin-bottom: -8.5px !important;
  margin-top: -10.5px !important;
}

.homepage .job-search-4 {
  left: 326px !important;
  width: 281px !important;
}

.homepage .job-search-5 {
  left: 616px !important;
  width: 176px !important;
}

.homepage .job-search-6 {
  margin-left: -61.34px !important;
  margin-right: -61.34px !important;
}

.homepage .instance-node-2 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}
