.login {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.login .navbar-instance {
  align-self: stretch !important;
  width: 100% !important;
}

.login .contain {
  position: relative;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .image {
  position: absolute; /* Ensure the image stays in the background */
  top: -10px;
  height: 100%;
  width: 98vw;
  object-fit: cover;
  z-index: 1;
  align-self: center;
}

.login .class-2 {
  position: relative;
  z-index: 2; /* Layer content above the image */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .class-4 {
  flex: 1;
  position: relative;
  z-index: 2;
}

.login .class {
  flex: 0 0 auto !important;
}

.login .class-3 {
  position: relative;
  z-index: 2;
  height: 28px !important;
}

/* Adjustments for screen sizes below 1200px */
@media (max-width: 1199px) {
  .login {
    min-width: 850px;
    padding: 5px;
  }

  .login .contain {
    height: auto; /* Let height adjust based on content */
  }

  .login .image {
    position: relative; /* Allow image to follow content flow */
    height: auto;
  }

  .login .class-2,
  .login .class-4,
  .login .class-3 {
    position: static;
    z-index: auto;
  }
}